<% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %> <%- messages() %>
<form class="account-form login-form">
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="account_email"
    placeholder="example@email.com"
    required
  />

  <label for="password">Password:</label>
  <input type="password" id="password" name="account_password" required />

  <input type="submit" value="Log In" />
</form>

<p class="form-label">
  Don't have an account? <a href="/account/register">Create Account</a>
</p>
