@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Styles for checkerboard pattern and body background */
html {
  font-family: "Open Sans", sans-serif;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="70" height="70"><rect width="35" height="35" fill="%23080808"/><rect x="35" width="35" height="35" fill="%23f60fde"/><rect y="35" width="35" height="35" fill="%23f60fde"/><rect x="35" y="35" width="35" height="35" fill="%23080808"/></svg>')
    repeat;
}

body {
  background-color: rgb(221, 239, 245);
  max-width: 480px;
  width: 100%;
  margin: 10px auto;
  border-radius: 6px;
  border: 3px solid #080808;
  box-shadow: 4px 4px 8px 2px #080808;
}

/* Header Styles */
#top-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 5px;
}

.siteName a,
#tools a,
.siteName a:visited,
#tools a:visited {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: 1.5rem;
}

#tools {
  font-size: 0.8rem;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin: 0 7px;
  background-color: black;
  border-radius: 4px;
}

nav ul li a {
  text-decoration: none;
  color: white; /* Initially white text on a black background */
  padding: 10px 15px;
  transition: 0.2s; /* Smooth transition for color change */
}

nav ul li a:hover {
  background-color: white; /* Background turns white on hover */
  color: black; /* Text turns black on hover */
}

nav ul li a::after {
  color: white;
}

/* Body Styles */
h1 {
  text-align: center;
  width: 100%;
  margin: 15px auto 10px;
}

.promo-card {
  background-color: #ed13deaf;
  color: white;
  width: fit-content;
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

.promo-card h3,
p {
  margin: auto;
}

.promo-card a {
  display: inline-block;
  margin: 3px auto;
  padding: 5px 8px;
  border-radius: 4px;
  transition: 0.2s;
}

.promo-card a,
.promo-card a:visited {
  text-decoration: none;
  background-color: white;
  color: black;
}

.promo-card a:hover {
  transition: 0.2s;
  color: white;
  background-color: black;
}

.banner img {
  width: 100%;
}

.banner {
  position: relative;
}

h2 {
  margin: auto;
  padding: 10px 0 10px 10px;
}

.reviews ul {
  margin: 0;
}

.upgrade-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
  justify-content: center;
}

.upgrade-card img {
  display: block;
}

.upgrade-card img,
a {
  margin: auto;
}

.upgrade-card a {
  color: white;
}

.upgrade-card {
  margin: 10px 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #080808;
  border-radius: 4px;
}

/* Footer Styles */
footer {
  padding: 10px;
}
